ul{
  
    list-style-type: square;
    background-color: blue
}
.A{
    color: blue;
}
ol{
    list-style-type: upper-roman;
    background-color: red;
}



#leo{
    background-color: palevioletred;
}
dl{
    background-color: blueviolet;
}
#s{
    background-color:azure;
}
#d{
    background-color: darkmagenta;
}
 

body{
    
height: 100vh;
    background-image: linear-gradient(red,blue,yellow,green,pink,violet,green,yellow,blue,red); 
 } 
dl{
    background-image: linear-gradient(red,blue);
}
ol{
    background-image: linear-gradient(blue,rgb(202, 125, 125));
}
ul{
    background-image: linear-gradient
    (
       yellow,rgb(134, 224, 134)
    )
}
body{
    background-image:url(./webtech);
  
} 
  