/* h1{
    color: blue;
}
h3{
    color: rgb(157, 87, 62);
}
h3{
    color: blueviolet
}
h2,h4{
    color:purple; */
/* } */
.india{
    color: chartreuse;
}
.PAKISTAN{
    font-size: 50px;
    color: red;
}
#MSD{
    color: cyan;
}